.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:70%;
    border-radius: 5px;
    padding:30px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.row{
    margin:5px;
    padding-right:20px;
}

.col-75{
    border-radius: 10px;
    width: 200%;
}

#button{
    margin-top: 10px;
    float:right;
    margin-right: 0px;
    border-radius: 5px;
    border:0px;
}

